<div align="center"><h1>Bookstore</h1></div>

<div>
  <table class="table" style="width: 80%">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>
        {{book.title}}
      </td>
      <td>
        {{book.author}}
      </td>
      <td><button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button>
        <button (click)="BooksDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
      </td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="addBook()"> Add Book</button>
  </p>
</div>
<router-outlet></router-outlet>
